body{
  background: url(../img/main_page_area3.png) no-repeat;
  z-index: 100;
}
/* header_style.css */
#main_header{
  width: 100%; height: 105px;
  transition-duration: 300ms;
  position: absolute;
  left: 0; top: 0;
  z-index: 50;
  display: flex;
}
  #main_header.active{
    height: 480px;
  }

#main_header > h1{
  width: 125px; height: 50px;
  position: absolute;
  left: 383px; top: 27px;
}
/*네비게이션*/
#main_nav{}
  #main_nav > ul{
    width: 550px; height: 24px;
    display: flex;
    position: absolute;
    left: 602px; top: 0;
  }
    #main_nav > ul > li{
      width: 150px; height : 105px;
    }
      #main_nav > ul > li > h2{
        width: 100px; height: 24px;
      }
        #main_nav > ul > li > h2 > a{
          color: #fff;
          text-align: center;
          line-height: 105px;
        }
        #main_header.active > #main_nav > ul > li > h2 > a{
        color:#000;
        }
        #main_nav > ul > li > .sub_nav{
          width: 550px; height: 0;
          overflow: hidden;
          transition-duration: 300ms;

          position: absolute;
          left: 0; top: 105px;
          background-color: #fff;
        }


#main_nav .sub_nav{}
  #main_nav .sub_nav > .inner{}
    #main_nav .sub_nav > .inner > ul{}
      #main_nav .sub_nav > .inner > ul > li{
      }
        #main_nav .sub_nav > .inner > ul > li > a{
          text-align: center;
          color: #fff;
        }
        #main_header.active > #main_nav .sub_nav > .inner > ul > li > a{
            color: #fff;
          }
        #main_nav .sub_nav > .inner > ul > li > a{
          color: #3665C1;
        }




/*검색 툴*/
  #search_wrap{
    position: absolute;
    left: 1300px; top: 45px;
  }
  #search_wrap > form{}
  #search_wrap > form > fieldset{
    width: 200px; height: 28px;
    border-bottom: 2px solid #fff;  
  }
  #search_wrap > form > fieldset > legend{
    
  }

  #search_btn{
    position: absolute;
    right:0 ;top : 10%;
  }
  #search_txt{
    width: 144px; 
    line-height: 32px;
    color: #fff;
    padding : 0 6px
  }