
/*visual_image start*/

#visual_image{
  width: 100%;
  height: 970px;
  margin-bottom: 108px;
  position:relative;
  background: url(../img/main_page_area1.png);
}
@media screen and (min-width:1300px) {
	#visual_img .swiper {
      width: 100%;
      height: 100%;
	}
}

@media screen and (max-width:1300px) {
	#visual_img .swiper {
      width: 1300px;
      height: 100%;
	}
}

  #visual_image > h3{
    width:760px; height: 188px; 
    font-size: 64px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 396px; top: 206px;
    background: url(../img/visual_main_text1.png), url(../img/visual_main_text2.png);
    background-repeat: no-repeat;
    background-position: 40% 35% , 5% 100%;
  }
  #visual_image > p{
    width: 589px; height: 47px;
    color: #fff;
    position: absolute;
    left: 396px; top: 479px;
    line-height: 30px;
  }
    #visual_image > p > span{
      display: block;
    }
    
  #visual_image > a{
    width: 200px; height:45px;    
    position: absolute;
    left: 396px; top: 561px;
    color: #fff;
    text-align: center;
    line-height: 34px;
    background-color: #3665C1;
    border: 2px solid #fff;
    border-radius: 23px;
    box-sizing: border-box;
  }
    #visual_image > a > p{
    width: 112px; height: 40px;
    line-height: 36px;
    margin: 0 auto;
    text-align: left;
    background: url(../img/visual_organizer_btn.png) no-repeat 100% 50%;
    
  }  


  #visual_image > img{
    width: 100%;
  }

/*sec_card_ttl*/
.sec_card_ttl{
  width: 100%; height: 94px;
  padding-top: 23px;
  padding-bottom: 86px;
}
  .sec_card_ttl > h2{
    width: 164px; height: 59px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    color: #3665C1;
    background: url(../img/sec_card_ttl_back.png) no-repeat;
    background-position: right bottom;
  }
  .sec_card_ttl > p{
    width: 392px; height: 24px;
    text-align: center;
    margin: 0 auto;
    color: #3665C1;
  }
  
/*info_schedule start*/
  #info_schedule{
  }
  #card_wrap {
    position: relative;
    width: 1500px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 76px;
  }
  #card_wrap .swiper {
    width: 100%;
    height: 100%;
  }
  #card_wrap .swiper-wrapper {
    width: 100%;
    height: 100%;
  }

  #card_wrap .swiper-slide {
    height: 390px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  #card_wrap .swiper-slide a{
    border-radius: 40px;
    width: 90%; height: 390px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
  }
  #card_wrap .swiper-slide .card_image {
    display: block;
    width: 255px;
    height: 390px;
  }
  #card_wrap .swiper-slide .card_text_box {
    width: 100%; height: 120px;
    position: absolute;
    left: center; top: 274px;
    background-color: #fff;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #card_wrap .swiper-slide .card_text_box > h3{
    margin: 0 5px;
    font-weight: 700;    
  }
  #card_wrap .swiper-slide .card_text_box > p{
    
    margin-bottom: 8px;
  }

  #card_wrap > .swiper-button-next{
    right: -28px;
    color: #3665C1;
  }
  #card_wrap > .swiper-button-prev{
    left: -28px;
    color: #3665C1;
  }

  #info_schedule > a{
    width: 148px; height: 48px;
    font-weight: 700;
    color: #3665C1;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(55,101,193,0.2);
    border-radius: 24px;
    line-height: 48px;
    margin-bottom: 108px;
  }

/*section info_vr start*/
#info_vr{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  #info_vr > .sec_card_ttl{
    width: 100%;
  }
  #vr_nav{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  #vr_left{
    width: 798px; height: 644px;
    position: relative;
    margin-right: 8px;
  }
    #vr_left > .points_exhibition{
      width: 798px; height: 644px;
      background: url(../img/info_vr_map.jpg);
      background-size: 798px 644px;
      border: 3px solid #3665C1;
      border-radius: 30px;
      overflow:hidden;
      box-sizing: border-box;
      position: relative;
    }
      #vr_left > .points_exhibition > li{
        position: absolute;
        left: 0; top: 0;
        opacity: 0;
      }
      #vr_left > .points_exhibition > li.active{
        opacity: 1;
      }
      #vr_left > .points_exhibition > li,
      #vr_left > .points_exhibition > li > img{
        width: 798px;  height: 644px;
      }

      #vr_left > .point{
        position: absolute;
        left: 50%; bottom: 10px;
        transform: translateX(-50%);
        z-index: 50;
        display: flex;
        justify-content: center;
      }
      #vr_left > .point > li{
        width: 36px; height: 36px;
        box-sizing: border-box;
        border-radius: 18px;        
        border: 3px solid #ccc;
        margin: 0 5px;
        cursor: pointer;
      }
      #vr_left > .point > li:nth-of-type(1){
        background-color: #9fbaef;
        border-color: #3632cd;
      }
      #vr_left > .point > li:nth-of-type(2){
        background-color: #60c0bc;
        border-color: #12867d;
      }
      #vr_left > .point > li:nth-of-type(3){
        background-color: #e2924d;
        border-color: #d96613;
      }
      #vr_left > .point > li:nth-of-type(4){
        background-color: #9b62c0;
        border-color: #61109d;
      }

  #vr_right{
    width: 798px; height: 644px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
  }
      #vr_right > div{
        position: absolute;
        left: -798px; top: 0;
      }
      #vr_right > div.active{
        left: 0;
      }


      #vr_right {
        position: relative;
        height: 100%;
      }

      #vr_right .swiper {
        width: 100%;
        height: 100%;
      }

      #vr_right .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      #vr_right .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }


  #vr_text{
    width: 800px;
    margin: 0 auto;
    color: #3665C1;
  }
  #vr_text > ul > li{
    display: none;
  }
  #vr_text > ul > li.active{
    display: block;
  }
  #vr_text > ul > li > h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    background: url(../img/vr_text_ttl_style_box.png) no-repeat;
    background-position: 375px 100%;
    background-size: 75px 18px;
    margin-bottom: 25px;
  }
  #vr_text > ul > li > p{
    font-weight: 700;
    text-align: center;
    margin-bottom: 108px;
  }


    /*section  info_use start*/
  #info_use{
    width: 100%; height: 100%;
  }
  #info_use > .info_use_wrap{
    width: 1300px;
    height: 100%;
    margin: auto;
    margin-bottom: 15px; 
    overflow: auto;
    
  }
    #info_use > .info_use_wrap > ul{
      width: 100%;
      display: flex;
      background: url(../img/info_use_bg_line.png) no-repeat 0 50% / 100% 25px;
    }
    #info_use > .info_use_wrap > ul > li{
      width: 100%; height: 330px;
      
    }
  
      #info_use > .info_use_wrap > ul > li > a{
        width: 90%; height: 90%;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
        position: relative;
        margin: 0 auto;
        background: url(../img/info_icon_back.png) no-repeat 50% 45% #fff;
        
      }
      #info_use > .info_use_wrap > ul > li > a > h3{
          padding-top: 50px;
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          color: #3665C1;
        }
      #info_use > .info_use_wrap > ul > li > a > img{
        margin: 0 auto;
        padding-top: 26px;
      }
      #info_use > .info_use_wrap > ul > li > a > p{
        width: 100%;
        text-align: center;
        color: #3665C1;
        font-size: 16px;
        position: absolute;
        left: 50%; top: 76%;
        transform: translateX(-50%);
      }

@media screen and (max-width: 490px) {

#info_use{
  width: 100%; height: 100%;
  background-color: #fff;
}
#info_use > .info_use_wrap{
  width: 100%;
  height: 100%;
  margin-bottom: 15px; 
  overflow: auto;
  
}
  #info_use > .info_use_wrap > ul{
    width: 400%;
    background: url(../images/info_use_bg_line.png) no-repeat 0 50% / 100% 25px;
  }
  #info_use > .info_use_wrap > ul > li{
    width: 20%; height: 330px;
    
  }

    #info_use > .info_use_wrap > ul > li > a{
      width: 90%; height: 90%;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
      position: relative;
      margin: 0 auto;
      background: url(../images/info_icon_back.png) no-repeat 50% 45% #fff;
      
    }
    #info_use > .info_use_wrap > ul > li > a > h3{
        padding-top: 50px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: #3665C1;
      }
    #info_use > .info_use_wrap > ul > li > a > img{
      margin: 0 auto;
      padding-top: 26px;
    }
    #info_use > .info_use_wrap > ul > li > a > p{
      width: 100%;
      text-align: center;
      color: #3665C1;
      font-size: 16px;
      position: absolute;
      left: 50%; top: 76%;
      transform: translateX(-50%);
    }
}
  /* 공지사항 */
  #notice_wrap{
    width: 80%;
    margin: 0 auto 120px;
    overflow: hidden;
  }
    #notice_wrap > dl{
      width: 100%; height: 34px;
      margin: 0 auto;
      border: 2px solid #3665C1;
      border-radius: 15px;
      box-sizing: border-box;
      display: flex;
    }
      #notice_wrap > dl > dt{
        width: 20%;
        padding-right: 2px;
        font-weight: 700;
        color:#3665C1;
        text-align: center;
        line-height: 30px;
        background: url(../images/notice_line.png) no-repeat 95% 50%;
      }
        #notice_wrap > dl > dd{
          width: 75%;
          padding-left: 5px;
        }
    #notice_list{
      width: 100%;
      position: relative;
    }
      #notice_list > li{
        width: 100%; height: 34px;
        position: absolute;
        left: 0; top: 34px;
        display: flex;
      }
      #notice_list > li:first-child{
        top: 0;
      }
        #notice_list > li > a{
          width: 75%;
          color:#3665C1;
          line-height: 30px;
          overflow:hidden;
          text-overflow: ellipsis;  
          white-space: nowrap;
        }
        #notice_list > li > span{
          width: 20%;
          position: absolute;
          right:10px; top: 0;
          padding-right: 5px;
          text-align: right;
          line-height: 30px;
          color:#3665c1;
        }
  

