
/*visual_image start*/
#visual_image{
  width: 100%;
  height: 601px;
  margin-bottom: 108px;
  position:relative;
}
  #visual_image > h3{
    width: 300px; height: 140px; 
    font-size: 64px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 360px; top: 50%;
    background: url(../img/visual_main_text2.png);
    background-repeat: no-repeat;
    background-position: 25px 50%;
  }
  #visual_image > p{
    width: 589px; height: 47px;
    color: #fff;
    position: absolute;
    left: 396px; top: 479px;
    line-height: 30px;
  }
    #visual_image > p > span{
      display: block;
    }
    
  #visual_image > a{
    width: 200px; height:45px;    
    position: absolute;
    left: 396px; top: 561px;
    color: #fff;
    text-align: center;
    line-height: 34px;
    background-color: #3665C1;
    border: 2px solid #fff;
    border-radius: 23px;
    box-sizing: border-box;
  }
    #visual_image > a > p{
    width: 112px; height: 40px;
    line-height: 36px;
    margin: 0 auto;
    text-align: left;
    background: url(../img/visual_organizer_btn.png) no-repeat 100% 50%;
    
  }  


  #visual_image > img{
    width: 100%; height: 605px;
  }