@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url(swiper-bundle.css);
*{
  margin: 0;
  padding: 0;
}
html, body{
  font: 16px / normal 'Noto Sans KR', sans-serif;
  color: #222;
}
h1, h2, h3, h4, h5, h6{
  font-size: 1.0em;
  font-weight: normal;
}
ul, ol, li{
  list-style: none;
}
strong, b{
  font-weight: normal;
}
em, i, address{
  font-style: normal;
}
img, a, label{
  display: block;
  border: none;
}
input, select, textarea, button, iframe, fieldset{
  border: none;
  border-radius: 0;
  background-color: transparent;
  outline: none;
}
legend, hr, input[type=checkbox], input[type=radio]{
  display: none;
}
a{
  text-decoration: none;
  color: #222;
}
button{
  cursor: pointer;
}
a:hover{}  
  /**** CLASS STYLE ********************/
  .skip, .blind{
    display: block;
    height: 0;
    overflow: hidden;
  
    position: absolute;
    top: -6000px;
  }




  /*모바일*/

  /*데스크탑*/
  @media screen and ( min-width: 1300px) {   

    #m_header_wrap{
      display: none;
    }
        /*header*/
        
        body{
          background: url(../images/main_page_area3.png) no-repeat;
          z-index: 100;
        }
        #d_header_wrap{
          width: 100%;
        }
        /* header_style.css */
        #main_header_d{
          width: 100%; height: 105px;
          position: absolute;
          left: 0; top: 0;
          z-index: 101;
          display: flex;
          overflow:hidden;
        }
        #main_header_d.active{
          height: 500px;
          background: url(../images/nav_bg.png);
          transition-duration: 300ms;
        }
          #header_wrap{
            width: 1300px;
            margin:0 auto;
            display:flex;
            justify-content: space-between;
          } 
          #header_wrap > h1{
            width:123px; height: 49px;
            margin: 26px 0;
          }
          #header_wrap > h1 > a{
            width:123px; height: 49px;
            background: url(../images/kintex_logo.png);
            text-indent: -6000px; overflow: hidden;
          }
          #main_header_d.active > #header_wrap > h1 > a{
            background: url(../images/kintex_logo_blue.png);
          }
        /*네비게이션*/
        #main_nav_d{
          width: 100%;
          overflow: hidden;
        }
          #main_nav_d > ul{    
            width: 80%;
            height: 100%;
            display: flex;
            justify-content:space-between;
            margin: 0 120px;
          }
            #main_nav_d > ul > li{
              width: 150px; height : 105px;
            }
              #main_nav_d > ul > li > h2{
              }
                #main_nav_d > ul > li > h2 > a{
                  color: #fff;
                  font-size: 20px;
                  font-weight: 700;
                  text-align: center;
                  line-height: 105px;
                }
                #main_header_d.active #main_nav_d h2 > a{
                  color: #3665C1;
                }
                #main_nav_d > ul > li > .sub_nav{
                  width: 100%; height: 100px;
                  font-weight: 700;
                  text-align: center;  
                  line-height: 50px;
                }
                #main_nav_d.active > ul > li > .sub_nav > .inner > ul > li{
                  height: 52px; position:relative;
                }
                #main_nav_d.active > ul > li > .sub_nav > .inner > ul > li > a{
                  color:#3665C1;
                }
                #main_nav_d > ul > li > .sub_nav > .inner > ul > li > a::before{
                  content: ""; width:0; height: 3px; position:absolute;
                  left:50%; bottom: 0; opacity: 0; transition: all 0.3s ease-out;
                }
                #main_nav_d > ul > li > .sub_nav > .inner > ul > li.active > a::before{
                  content: ""; width:150px; height: 3px; position:absolute;
                  left:0; opacity: 1; transition: all 0.3s ease-out; background: #3665C1;
                }

        
        
        
        /*검색 툴*/
          #search_wrap_d{
            float: right;
            width: 200px; margin-top:40px;
            margin-right: 50px;
          }
          #search_wrap_d > form{
          }
          #search_wrap_d > form > fieldset{
            width: 200px; height: 28px;
            border-bottom: 2px solid #fff;
          }
          #search_wrap_d > form > fieldset > legend{ 
          }
        
          #search_btn{
            position: absolute;
            margin-left: 20px;
          }
          #search_txt{
            width: 144px; 
            line-height: 32px;
            color: #fff;
            padding : 0 6px
          }
    .gnb_bg{
      display: none;
      position: fixed;
      top: 0;
      width: 100%; height: 100%;
      background: #000;
      opacity: 0.5;
      z-index: 99;
    }
    .gnb_bg.active{
      display: block;
      position: fixed;
      top: 0;
      width: 100%; height: 100%;
      background: #000;
      opacity: 0.5;
      z-index: 99;
    }
    /*visual_img*/
    #visual_image{
      width: 100%; height: 550px;
      background-color: #3665C1;
      border-radius: 0 0 50px 50px;
    }
    .visual_image_wrap{
      width: 1300px; height: 550px;
      margin: 0 auto;
      display: flex;
      position: relative;
    }
      .visual_image_wrap > img{
        width: 639px; height: 470px;
        position: absolute;
        bottom: 0; left: 0;
      }
      .visual_image_wrap > p {
        width: 300px;
        font-weight: 700;
        font-size: 64px;
        color:#fff;
        position: absolute;
        right: 100px; bottom: 250px;
        background: url(../images/sub_visual_main_text_.png) no-repeat ;
        background-position: left 30px top 45px;
      }
    /*main_contents*/
    #container{
      width: 1300px; 
      margin: 13px auto;
    }
      .sub_top_nav{
        display: flex;
        margin-bottom: 45px;
      }
        .sub_top_nav li{
          text-align: center;
          width: 74px; 
          background: url(../images/sub_top_nav_line.png) no-repeat;
          background-position: top 3px left 0;
        }
        .sub_top_nav li:first-child{
          width: 60px;
          background: none;
        }
    .list_btn{
      width: 620px; height: 50px; margin:10px auto;
      display: flex;
      justify-content: space-between;
      cursor:pointer;
    }
      .list_btn button{
        width:300px; height: 50px;
        background-color: #3665C1;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
      }
      .list_btn button:hover{
        width:300px; height: 50px;
        background-color: #fff;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 700;
        color: #3665C1;
        border: 3px solid #3665C1;
        box-sizing: border-box;
      }
    #schedule{  
      width: 1200px; height: 215px;
      margin: 18px auto;      
      border: 1px solid #3665C1;
      display: flex;
      flex-wrap: wrap;
    }
    #search_wrap{
      width: 100%;
      margin: 45px 82px;
    }

      .search_wrap{
        display:flex;
        justify-content: space-between;
        align-items: center;
      }
      .form_checkbox{display: flex;}
        .form_checkbox input[type=checkbox]{
          display: block;
          /* Double-sized Checkboxes */
          -ms-transform: scale(1.5); /* IE */
          -moz-transform: scale(1.5); /* FF */
          -webkit-transform: scale(1.5); /* Safari and Chrome */
          -o-transform: scale(1.5); /* Opera */
        }
        .form_checkbox span{
          font-weight: 700;
          font-size: 20px;
          margin: 0 14px;
        }
        
        .input_search{
          margin: 0 50px;
          overflow:hidden;
        }

          .input_search label{
            width:0; height: 0;
            text-indent: -6000px;
          }
          .input_search label::before{
            content: "";
            width: 22px; height: 22px;
            display: block;
            position: absolute;
          
          }
          .input_search input{

            height: 40px;
            padding-left: 72px;
            padding-right: 50px;
            font-weight: 700;
            font-size: 16px;
            border-bottom:2px solid #707070;
            background: url(../images/sub_search_icon.png) no-repeat 8px center;center;
          }
          .btn_search_black{
            width: 150px; height: 40px;
            background-color: #000;
            color:#fff;
            font-weight: 700;
            font-size: 16px;
          }
    .filter_bottom{
      display:flex;
      justify-content: space-between;
    }

      .form_bottom_checkbox{
        width:132px; height: 50px;
        box-sizing: border-box;
        border: 2px solid rgba(54,101,193,0.5);
        margin: 30px 8px 30px 0;
      }
      .form_bottom_checkbox:hover{
        background-color: rgba(54,101,193,0.5);
        color: #fff;
      }
        .form_bottom_checkbox span{
          display: inline-flex;
          width: 132px; height: 48px;
          justify-content: center;
          align-items: center;
        }
    .sort_date{
      width: 340px;
    }
      .date_input_wrap{
        height: 110px;
        display: flex;
        justify-content: space-between;
      }
      .date_input_wrap .cell:nth-child(2):before{
        content: "~";
        width: 30px; height: 30px;
        text-align: center;
        line-height: 30px;

      }
        .cell{
          display: flex;
          align-items: center;
        }
          .cell > input{
            width:150px;
            display: block;
            margin: 0 auto;
            height: 40px;
            padding-left: 5px;
            background-color: rgba(54,101,193,0.1);
          }
        
    .calendarDwd{
      width: 190px;
      height: 48px;
      line-height: 44px;
      margin: auto 0;
      border: solid 2px #3665C1 ;
      box-sizing: border-box;
      border-radius: 10px;
      padding-left: 28px;
      color:rgba(54,101,193,0.5);
      font-weight: 700;
      text-align: center;
      background:url(../images/download_icon.png) no-repeat 12px 50%;
    }

  #card_container{
    width: 100%; height: 100%;
    
    display: block;
  }
    .card_wrap{
      width: 1200px;
      margin: 0 auto 300px;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
      .card_box{ 
        width: 30%;
        margin-top: 60px;
        background-color: #fff;
      }
        .card_image_box{
          width: 100%; height: 440px;
        }
        .card_text_box{  
          font-size: 20px;        
          height: 160px;
        }
          .card_text_box h3{
            height: 80px;
            font-size: 24px;
            margin-top: 32px;
            font-weight: 700;
          }
          .card_text_box p:nth-child(2){
            margin-top:20px;
          }
    
      #paging{
        width: 200px;        
        margin: 0 auto;
      }
      #paging_number_wrap{
        width: 100%;
      }
      #paging_number_wrap button{
        font-weight: 700;
        font-size: 24px;
      }

    

    /*footer*/    
    /*footer_style.css*/
    
    #main_footer{
      width: 100%; height: 345px;
      background-color: #3665C1;
    }
      #footer_wrap{
        width: 1200px; height: 311px;    
        margin: 0 auto;
        padding-top: 23px;
        color: #fff;
        font-size: 12px;
      }
      #footer_wrap > h1{
        width: 222px; height: 40px;
        background: url(../images/kintex_foot_logo.png) no-repeat;
        text-indent: -6000px; overflow: hidden;
      }
      #footer_wrap > .policy{
        width: 328px; height: 17px;
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
        margin-bottom: 10px;
      }
      #footer_wrap > .policy > li > a{
        color: #fff;
      }
    
      #footer_wrap > .copy_menu{
        width:419px; height: 34px;
        display:flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      #main_footer > .copyright{
        position:absolute;
        right: 360px; bottom: 10px;
        color: #fff;
        font-size: 12px;
      } 
    }
